<mat-toolbar color="primary" class="header-container">
  <button mat-icon-button (click)="onToggleSidebar()"
          *ngIf="isAuthenticated"
  >
    <mat-icon *ngIf="!isOpenSidebar">
      <i class="fa-solid fa-bars"></i>
    </mat-icon>
    <mat-icon *ngIf="isOpenSidebar">
      <i class="fa-solid fa-xmark"></i>
    </mat-icon>
  </button>
  <a routerLink="/">PET PROJECT</a>
  <span class="spacer"></span>
  <div
    mat-raised-button
    matTooltip="Login"
    matTooltipPosition="left"
  >
    <a mat-icon-button
       routerLink="/auth"
       routerLinkActive="active"
       *ngIf="!isAuthenticated"
    >
      <mat-icon class="icon-centered">
        <i class="fa-solid fa-right-to-bracket"></i>
      </mat-icon>
    </a>
  </div>

  <div
    mat-raised-button
    matTooltip="Logout"
    matTooltipPosition="left"
  >
    <a mat-icon-button
       (click)="onLogout()"
       *ngIf="isAuthenticated"
    >
      <mat-icon class="icon-centered">
        <i class="fa-solid fa-right-from-bracket"></i>
      </mat-icon>
    </a>
  </div>
</mat-toolbar>
