<form [formGroup]="userForm" (ngSubmit)="onSubmitUser()">
  <div class="card text-center">
    <div class="card-header d-flex justify-content-between">
      <b>USER MANAGEMENT</b>
    </div>
    <div class="card-body">

      <mat-form-field class="mb-3 full-width" appearance="outline">
        <input matInput type="text" formControlName="firstName">
        <mat-label class="form-label">Firstname</mat-label>
      </mat-form-field>

      <mat-form-field class="mb-3 full-width" appearance="outline">
        <input matInput type="text" formControlName="lastName">
        <mat-label>Lastname</mat-label>
      </mat-form-field>

      <mat-form-field class="mb-3 full-width" appearance="outline">
        <input matInput type="email" formControlName="email">
        <mat-label>Email</mat-label>
      </mat-form-field>

      <mat-form-field class="mb-3 full-width" appearance="outline">
        <input matInput type="text" formControlName="phoneNumber">
        <mat-label>Phone Number</mat-label>
      </mat-form-field>

      <mat-form-field class="mb-3 full-width" appearance="outline">
        <input matInput type="text" formControlName="username">
        <mat-label>Username</mat-label>
      </mat-form-field>

      <mat-form-field class="mb-3 full-width" appearance="outline">
        <input matInput type="password" formControlName="password">
        <mat-label>Password</mat-label>
      </mat-form-field>

      <mat-radio-group formControlName="role">
        <mat-radio-button value="ADMIN">Admin</mat-radio-button>
        <mat-radio-button value="MODERATOR">Moderator</mat-radio-button>
        <mat-radio-button value="MEMBER">Member</mat-radio-button>
      </mat-radio-group>

    </div>
    <div class="card-footer d-flex justify-content-between">
      <button type="button" mat-raised-button  color="warn"
              (click)="onCancelEditUser()"
      >Cancel
      </button>
      <button type="submit"  mat-raised-button  color="primary"
              [disabled]="!userForm.valid"
      >Submit
      </button>
    </div>
  </div>
</form>


