<router-outlet></router-outlet>

<div class="card">
  <div class="card-header d-flex justify-content-between">
    <button type="button" mat-raised-button color="primary"
      (click)="onEditUser(undefined)"
    > Create user
    </button>
  </div>
  <div class="card-body table-responsive">
    <table class="table align-middle mb-0 bg-white userManagement" aria-label="userManagement"
      matSort matSortActive="modifiedAt" matSortDirection="desc"
      [dataSource]="dataSource" appNgMatTableQueryReflector
    >
      <thead class="bg-light">
      <tr>
        <th mat-sort-header="username">Name</th>
        <th mat-sort-header="email">Contact</th>
        <th class="filter-container">
          Role
          <app-checkbox-filter
            #roleFilter [dataSource]="dataSourceRoleFilter" [paramName]="'role'"
          ></app-checkbox-filter>
        </th>
        <th>Status
          <app-radio-box-filter
            #activeFilter [dataSource]="dataSourceActiveFilter" [paramName]="'active'" >
          </app-radio-box-filter>
        </th>
        <th mat-sort-header="modifiedAt">Modified Date</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>
          <div class="d-flex align-items-center">
            <img
              src="https://mdbootstrap.com/img/new/avatars/8.jpg"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
            />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{user.username}}</p>
              <p class="text-muted mb-0">{{user.firstName.concat(" ", user.lastName)}}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{user.email}}</p>
          <p class="text-muted mb-0">{{user.phoneNumber}}</p>
        </td>
        <td>
          <span class="badge badge-warning rounded-pill d-inline"
            *ngIf="user.role.toLowerCase().includes(ADMIN.toLowerCase())"
          >{{ADMIN}}
          </span>
          <span class="badge badge-success rounded-pill d-inline"
            *ngIf="user.role.toLowerCase().includes(MODERATOR.toLowerCase())"
          >{{MODERATOR}}
          </span>
          <span class="badge badge-primary rounded-pill d-inline"
            *ngIf="user.role.toLowerCase().includes(MEMBER.toLowerCase())"
          >{{MEMBER}}
          </span>
        </td>
        <td style="width: 205px;">
          <mat-slide-toggle #matSlideToggle
            color="primary"
            matTooltipPosition="right"
            [checked]="user.isActive"
            [matTooltip]="matSlideToggle.checked ? 'Deactivate User' : 'Active User'"
            (change)="onChangeUserStatus(user.email, user.isActive)"
          ></mat-slide-toggle>
        </td>
        <td>
          {{user.modifiedAt | date:'mediumDate' }}
        </td>

        <td>
          <div mdbDropdown class="dropdown">
            <a mdbDropdownToggle>
              <i class="fa-regular fa-square-caret-down fa-xl"></i>
            </a>
            <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li>
                <a class="dropdown-item" href="#">
                  <i class="fa-solid fa-pen-to-square text-success"></i>
                  &nbsp; Edit
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <i class="fa-solid fa-trash-can text-danger"></i>
                  &nbsp; Delete
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="card-footer">
    <app-empty-state *ngIf="users === undefined || users.length === 0" ></app-empty-state>

    <mat-paginator
      showFirstLastButtons
      [pageSizeOptions]="[5, 10, 25]"
      [length]="responseInfo?.total"
      [pageSize]="responseInfo?.size"
    ></mat-paginator>
  </div>
</div>
