<router-outlet></router-outlet>

<div class="card">
  <div class="card-header d-flex justify-content-between">
    <button type="button" mat-raised-button color="primary"
            (click)="onEditUser()"
    > Create user
    </button>
    <div class="d-flex">
      <app-date-range-picker (changeDateFilter)="loadUsers()"></app-date-range-picker>
      <app-search-filter class="ms-2" [paramName]="'keyword'" (keywordChange)="loadUsers()"></app-search-filter>
      <i class="ms-4 fa-solid fa-filter-circle-xmark fa-lg pt-3 pe-2 text-primary cursor-pointer"
         matTooltipPosition="above"
         matTooltip="Remove all filter"
         (click)="onRemoveAllFilter()"></i>

    </div>
  </div>
  <div class="card-body table-responsive">
    <table class="table align-middle mb-0 bg-white userManagement"
           aria-label="userManagement" matSort
           [dataSource]="dataSource" appNgMatTableQueryReflector
    >
      <thead class="bg-light">
      <tr>
        <th mat-sort-header="username">Name</th>
        <th mat-sort-header="email">Contact</th>
        <th class="filter-container">
          Role
          <app-checkbox-filter
            [dataSource]="dataSourceRoleFilter" [paramName]="'role'" (toggleCheckbox)="loadUsers()"
          ></app-checkbox-filter>
        </th>
        <th>Status
          <app-radio-box-filter
            [dataSource]="dataSourceActiveFilter" [paramName]="'active'" (clickRadioBox)="loadUsers()">
          </app-radio-box-filter>
        </th>
        <th mat-sort-header="modifiedAt">Modified Date</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>
          <div class="d-flex align-items-center">
            <img
              src="https://mdbootstrap.com/img/new/avatars/8.jpg"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"/>
            <div class="ms-3">
              <p class="fw-bold mb-1">{{user.username}}</p>
              <p
                class="text-muted mb-0">{{user.firstName.concat(" ", user.lastName)}}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{user.email}}</p>
          <p class="text-muted mb-0">{{user.phoneNumber}}</p>
        </td>
        <td>
          <span class="badge badge-warning rounded-pill d-inline"
                *ngIf="user.role.toLowerCase().includes(ADMIN.toLowerCase())"
          >{{ADMIN}}
          </span>
          <span class="badge badge-success rounded-pill d-inline"
                *ngIf="user.role.toLowerCase().includes(MODERATOR.toLowerCase())"
          >{{MODERATOR}}
          </span>
          <span class="badge badge-primary rounded-pill d-inline"
                *ngIf="user.role.toLowerCase().includes(MEMBER.toLowerCase())"
          >{{MEMBER}}
          </span>
        </td>
        <td style="width: 205px;">
          <mat-slide-toggle #matSlideToggle
                            color="primary"
                            matTooltipPosition="right"
                            [matTooltip]="isRecycleMode ? '' : (matSlideToggle.checked ? 'Deactivate User' : 'Active User')"
                            [checked]="user.isActive"
                            [disabled]="isRecycleMode"
                            (change)="onChangeUserStatus(user.id, user.isActive)"
          ></mat-slide-toggle>
        </td>
        <td>
          {{user.modifiedAt | date:'mediumDate' }}
        </td>

        <td>
          <div mdbDropdown class="dropdown" [closeOnItemClick]="false">
            <a mdbDropdownToggle>
              <i class="fa-regular fa-square-caret-down fa-xl cursor-pointer"></i>
            </a>
            <ul mdbDropdownMenu class="dropdown-menu cursor-pointer" aria-labelledby="dropdownMenuLink">
              <li>
                <a *ngIf="!isRecycleMode" class="dropdown-item" [routerLink]="['edit/', user.id]">
                  <i class="fa-solid fa-pen-to-square text-success"></i>
                  &nbsp;Edit
                </a>
                <a *ngIf="isRecycleMode" class="dropdown-item" (click)="onRestoreUser(user.id)">
                  <i class="fa-solid fa-pen-to-square text-success"></i>
                  &nbsp;Restore
                </a>
              </li>
              <li class="dropdown cursor-pointer">
                <a *ngIf="!isRecycleMode" class="dropdown-item" (click)="onDeleteUser(user.id)">
                  <i class="fa-solid fa-trash-can text-danger"></i>
                  &nbsp;Delete
                </a>
                <a *ngIf="isRecycleMode" class="dropdown-item" (click)="onHardDeleteUser(user.id)">
                  <i class="fa-solid fa-trash-can text-danger"></i>
                  &nbsp;Delete
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <tr *ngIf="users === undefined || users.length === 0">
        <td colspan="6">
          <app-empty-state></app-empty-state>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="card-footer">
    <div>
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="d-flex justify-content-between">
      <a class="btn btn-tertiary mt-2" role="button"
         matTooltipPosition="above"
         [matTooltip]="isRecycleMode ? 'User management' : 'Recycle user'"
         (click)="onToggleRecycleMode()"
      >
        <i *ngIf="isRecycleMode" class="fa-solid fa-users-line fa-xl"></i>
        <i *ngIf="!isRecycleMode" class="fa-solid fa-recycle fa-xl"></i>
      </a>
      <mat-paginator
        showFirstLastButtons
        [pageSizeOptions]="[5, 10, 25]"
        [length]="responseInfo?.total"
        [pageSize]="responseInfo?.size"
      ></mat-paginator>
    </div>
  </div>
</div>
