<router-outlet></router-outlet>


<div class="card">
  <div class="card-header d-flex justify-content-between">
    <b>USER MANAGEMENT</b>
    <button type="button" mat-raised-button color="primary"
      (click)="onEditUser(undefined)"
    > Create user
    </button>
  </div>
  <div class="card-body table-responsive">
    <table class="table align-middle mb-0 bg-white" aria-label="user">
      <thead class="bg-light">
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Role</th>
        <th>Status</th>
        <th>Modified Date</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
              src="https://mdbootstrap.com/img/new/avatars/8.jpg"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
            />
            <div class="ms-3">
              <p class="fw-bold mb-1">admin</p>
              <p class="text-muted mb-0">John Doe</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Admin@gmail.com</p>
          <p class="text-muted mb-0">0913642111</p>
        </td>
        <td>
          <span class="badge badge-success rounded-pill d-inline">Admin</span>
        </td>
        <td>
          <mat-slide-toggle #matSlideToggle
            color="primary"
            [matTooltip]="matSlideToggle.checked ? 'Deactivate User' : 'Active User'"
            matTooltipPosition="right"
          ></mat-slide-toggle>
        </td>
        <td>
          10/10/2022
        </td>

        <td mdbDropdownToggle>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary"
              mdbTooltip="Edit user"
            >
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button type="button" class="btn btn-danger"
              mdbTooltip="Delete user"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
              src="https://mdbootstrap.com/img/new/avatars/6.jpg"
              class="rounded-circle"
              alt=""
              style="width: 45px; height: 45px"
            />
            <div class="ms-3">
              <p class="fw-bold mb-1">Alex Ray</p>
              <p class="text-muted mb-0">alex.ray@gmail.com</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Consultant</p>
          <p class="text-muted mb-0">Finance</p>
        </td>
        <td>
        <span class="badge badge-primary rounded-pill d-inline"
        >Onboarding</span
        >
        </td>
        <td>Junior</td>
        <td>

        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="card-footer">2 days ago</div>
</div>
