/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --header-height: 6vh;
  --sidebar-height: 100vh;
  --color-primary: #3f51b5;
  --color-accent: #ff4081;
  --color-warn: #f44336;
}

.full-width {
  width: 100%;
}

.icon-centered {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.mat-mdc-snack-bar-container{
  --mdc-snackbar-container-color: #f9e1e5;

  &.app-notification-error {
    --mdc-snackbar-container-color: #f9e1e5;
    --mdc-snackbar-supporting-text-color: #af233a;
    --mat-snack-bar-button-color: #af233a;
  }

  &.app-notification-success {
    --mdc-snackbar-container-color: #d6f0e0;
    --mdc-snackbar-supporting-text-color: #0d6831;
    --mat-snack-bar-button-color: #0d6831;
  }

  &.app-notification-info {
    --mdc-snackbar-container-color: #def1f7;
    --mdc-snackbar-supporting-text-color: #1c657d;
    --mat-snack-bar-button-color: #1c657d;
  }

  &.app-notification-warn {
    --mdc-snackbar-container-color: #fbf0da;
    --mdc-snackbar-supporting-text-color: #73510d;
    --mat-snack-bar-button-color: #73510d;
  }
}
